html {
	margin: 0 !important;
	padding: 0 !important;
}
body {
	margin: 0 !important;
	padding: 0 !important;
}
h3, p {
	font-family: 'Open Sans', sans-serif !important;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.links > li {
	margin-top: 5px;
}
.container {
	width: 100%;
}
.jumbotron {
	background: white;
}

.navbar {
	background: white;
	border-bottom: 1px solid #EEEEEE;
	border-radius: 0;
}

.nav-active {
	background: #30ABAA;
	color: white !important;
}

.btn-primary {
	background: #B6D05A;
	border-color: #B6D05A;
}

.glyphicon {
    font-size: 4em;
    color: gray;
}

.panel {
	border: none !important;
}
.panels {
	border-bottom: 2px solid #EEEEEE !important;
	text-align: center;
	margin-top: 25px;
}
.panel-body {
	text-align: center;
}


